{{#with .}}

<a href="film?id={{id}}" class="card">
    <div class="card__poster">
        <img class="card__poster-img" src="{{poster.url}}" alt="Film poster" srcset="">
        <div class="card__poster-kpid">ID: <span class="card__span-id">{{id}}</span></div>

    </div>
    <div class="age-rating">
        <span>{{ageRating}}+</span>
    </div>
    <div class="card__main">
        <div class="card__film-name">
            <div class="card__name-item"><span class="card__text-name">{{name}}</span></div>
        </div>
        <div class="briefly-info">
            <div class="briefly-info__item"><span class="briefly-info__text">{{genres.[0].name}}</span></div>
            <div class="briefly-info__item"><span class="briefly-info__text">{{countries.[0].name}}</span></div>
            <div class="briefly-info__item"><span class="briefly-info__text">{{year}}г</span></div>
            <div class="briefly-info__item"><span class="briefly-info__text">{{movieLength}} м.</span></div>
            <div class="briefly-info__item"><span class="briefly-info__text">{{translater type}}</span></div>
        </div>
        <div class="reviews">
            <div class="reviews__item">
                <div class="reviews__item_green"><span class="reviews__text">KP: {{rating rating.kp}} </span></div>
            </div>
            <div class="reviews__item">
                <div class="reviews__item_green"><span class="reviews__text">imdb: {{rating.imdb}}</span></div>
            </div>
        </div>
        <div class="short-description">
            <span class="short-text">{{shortDescription }}</span>
        </div>
    </div>
</a>

{{/with}}