{{#each docs}}
<!DOCTYPE html>
<html lang="ru">

<head>

    {{>mainHead}}
    <title>{{name}} ({{year}}г, {{enName}} )</title>
    <link rel="stylesheet" href="css/film-page.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <style>
        body {

            background: url({{backdrop.url}}) no-repeat top 0 left 0 /cover;
            background-attachment: fixed;
            position: relative;
        }
    </style>
</head>

<body>
    <div class="undo-body"></div>
    <div class="app">
        {{>header}}

        <div class="film">
            <div class="film__poster">
                <img class="film__img" src="{{logo poster}}" alt="Film poster" srcset="">
                <span class="film__id">{{id}}</span>
            </div>
            <div class="film__short-description">
                <div class="film__name">
                    <span class="film__name-span">
                        {{nameString name names}}
                    </span>
                </div>
                <div class="film__description"><span class="film__description-span">{{description}}</span></div>
            </div>
            <div class="bookmark">
                <svg class="bookmak__img" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                    <path d="M352 48H160a48 48 0 00-48 48v368l144-128 144 128V96a48 48 0 00-48-48z" 
                        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
                </svg>
            </div>
        </div>
        <div class="information">
            <div class="information__item">
                <span class="information-item-span">Тип:</span><span class="information-item-span">{{translater
                    type}}</span>
            </div>
            <div class="information__item">
                <span class="information-item-span">Дата выхода:</span><span class="information-item-span">{{year}}
                    год</span>
            </div>
            <div class="information__item">
                <span class="information-item-span">Статус:</span><span class="information-item-span">{{helperStatus
                    status}}</span>
            </div>
            <div class="information__item">
                <span class="information-item-span">Оценок:</span><span
                    class="information-item-span">{{votes.kp}}</span>
            </div>
            <div class="information__item">
                <span class="information-item-span">Длительность:</span><span
                    class="information-item-span">{{movieLength}} минут</span>
            </div>
        </div>
        <div class="genres">
            <span class="genres__span">Жанры:</span>
            <ul class="genres__list">
                {{genre genres}}
            </ul>
        </div>
        {{#if budget.value}}
        <div class="budget">
            <span>Бюджет:</span> <span>{{budget.value }} {{budget.currency}}</span>
        </div>
        {{/if}}

        <div class="release-date">
            <span>Дата релиза: 2022 год, релиз завершён в 2023 году.</span>
        </div>
        <div class="persons">
            <div class="persons__catalog">
                {{persons persons}}

            </div>

        </div>
        {{#if facts}}
        <div class="facts">
            <span class="facts__span">А вы знали что...</span>
            <div class="slider">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {{swiper facts}}

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </div>
        {{/if}}
        {{#if videos.trailers}}
        <div class="videos">
            <div class="trailer">
                {{trailer videos}}

            </div>
        </div>
        {{/if}}
        <div class="video">
            <div class="video_player"></div>
        </div>


        {{#if similarMovies}}
        <div class="similar-movies">
            <div class="similar-movies__item">
                <span class="similar-movies__span">Похожие фильмы:</span>
            </div>
            <div class="swiper similarMovies">
                <div class="swiper-wrapper">
                    {{similarMovie similarMovies}}


                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        {{/if}}


    </div>
    {{!-- <div class="usermark">
        <div class="usermark__item" title="Смотрю">
            <img class="usemark__img" name="watching" src="./img/tv.svg">
        </div>
        <div class="usermark__item" title="В планах">
            <img class="usemark__img" name="plans" src="./img/eyes.svg" alt="" srcset="">
        </div>
        <div class="usermark__item" title="Посмотрел">
            <img class="usemark__img " name="looked" src="./img/check.svg" alt="" srcset="">
        </div>
        <div class="usermark__item" title="Бросил">
            <img class="usemark__img stop" name="quit" src="./img/cross.svg" alt="" srcset="">
        </div>
    </div>
    --}}

    <script src="js/film.js"></script>
    <script src="https://kinobox.tv/kinobox.min.js"></script>
    <script>
        new Kinobox('.video_player', {
            search: {

                kinopoisk: {{ id }},
            title: '{{name}}'
             
            },
            'players': {
            'Alloha': { 'enable': true, 'position': 1, 'token': '{token}' },
            'Bazon': { 'enable': true, 'position': 2, 'token': '{token}' },
            'Cdnmovies': { 'enable': true, 'position': 3, 'token': '{token}' },
            'Collaps': { 'enable': true, 'position': 4, 'token': '{token}' },
            'Hdvb': { 'enable': true, 'position': 5, 'token': '{token}' },
            'Iframe': { 'enable': true, 'position': 6, 'token': '{token}' },
            'Kodik': { 'enable': true, 'position': 7, 'token': '{token}' },
            'Videocdn': { 'enable': true, 'position': 8, 'token': '{token}' },
            'Voidboost': { 'enable': true, 'position': 9, 'token': '{token}' }
        },
        }).init();
    </script>
</body>

</html>
{{/each}}