

<!DOCTYPE html>
<html lang="ru">

<head>
    {{>mainHead}}
    <title>KafiPoisk</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <div class="app">
        {{>header}}
        <div class="list-2023">
           
            <div class="movie">
                 
             <div class="list__item"> <span class="list__item-span">Топ 9 фильмов за 2023 год:</span>
            </div>
            <div class="swiper-list">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                            {{list2023 r1.docs}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            </div>
            <div class="movie">
                 
             <div class="list__item"> <span class="list__item-span">Топ 9 мультсериалов за 2023 год:</span>
            </div>
            <div class="swiper-list">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                            {{list2023 r2.docs}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            </div>
            <div class="movie">
                 
             <div class="list__item"> <span class="list__item-span">Топ 9 аниме за 2023 год:</span>
            </div>
            <div class="swiper-list">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                            {{list2023 r3.docs}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            </div>
            <div class="movie">
                 
             <div class="list__item"> <span class="list__item-span">Топ 9 мультиков за 2023 год:</span>
            </div>
            <div class="swiper-list">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                            {{list2023 r4.docs}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            </div>
            <div class="movie">        
             <div class="list__item"> <span class="list__item-span">Топ 9 сериалов за 2023 год:</span>
            </div>
            <div class="swiper-list">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                            {{list2023 r5.docs}}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            </div>


    

        </div>

        

    </div>


    <script src="script.js"></script>
</body>

</html>
